@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter";
  font-weight: 500;
}

body {
  background: #f7f7f7b2;
}

.grid-calculator {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 850px;
  margin: 0 auto;
}

.grid-calculator-form {
  display: grid;
}

.grid-calculator-form form {
  display: grid;
  padding: 20px 60px;
  gap: 20px;
  background: white;
  border-radius: 0px 8px 0px 8px;
}

.grid-calculator-form input {
  width: 100%;
  margin: 5px 0;
}

.tittle {
  background: #7337f1;
  padding: 35px;
  text-align: center;
  color: whitesmoke;
}

.tittle img {
  display: none;
}

.slider {
  appearance: none;
  width: 100%;
  height: 20px;
  background: #7337f1;
  outline: none;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.idade,
.peso,
.altura {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.sexo ul {
  display: flex;
  justify-content: space-between;
}

.genero {
  display: block;
  padding: 15px 23px;
  border-radius: 6px;
  background-color: #dfccfb;
  font-size: 0.8rem;
  color: #7337f1;
  cursor: pointer;
}

.ativo {
  display: block;
  padding: 15px 23px;
  border-radius: 6px;
  background-color: #dfccfb;
  font-size: 0.8rem;
  color: #7337f1;
  border: solid 2px #7337f1;
  cursor: pointer;
}

.btn {
  display: block;
  padding: 15px 23px;
  border-radius: 6px;
  background-color: #7337f1;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
}

.sexo {
  margin: 10px 0;
}
.sexo p {
  padding-bottom: 5px;
}

.valores {
  font-size: 1.5rem;
}

.valor-range {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: grey;
}

.btn {
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 851px) {
  .grid-calculator {
    margin: 100px auto;
  }

  .grid-calculator-form {
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
  }

  .grid-calculator-form form {
    padding: 30px 60px;
  }

  .tittle {
    display: grid;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
  }

  .tittle h1 {
    align-self: center;
  }

  .tittle img {
    display: flex;
    justify-self: center;
    align-self: start;
    max-width: 50%;
  }

  .sexo ul {
    gap: 10px;
  }
}

.js-animation,
.ativo1 {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .grid-calculator-form form {
    display: grid;
    padding: 50px 150px;
    gap: 40px;
  }
  .tittle {
    padding: 50px;
  }

  .tittle h1 {
    font-size: 2.9rem;
  }

  .idade,
  .peso,
  .altura {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 1.5rem;
  }

  .valores {
    font-size: 2rem;
  }

  .sexo p {
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  .genero {
    padding: 20px 40px;
    font-size: 1rem;
  }

  .ativo {
    padding: 20px 40px;
    font-size: 1rem;
  }

  .sexo ul {
    display: flex;
    justify-content: space-around;
  }

  .btn {
    display: grid;
    text-align: center;
    padding: 25px;
  }

  #resultado {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .tittle {
    padding: 10px;
  }

  .tittle h1 {
    font-size: 1.7rem;
  }

  .grid-calculator-form form {
    display: grid;
    padding: 5px 45px;
    gap: 5px;
  }

  .genero {
    padding: 15px 20px;
    font-size: 0.8rem;
  }

  #resultado {
    margin: 5px auto;
  }

  .ativo {
    padding: 15px 20px;
    font-size: 0.8rem;
  }

  .btn {
    padding: 10px 0;
  }
}
